@import 'abstracts/variables';


// Buttons
.btn-primary {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 10px 0px 10px 0px;
  padding: 12px 28px 12px 28px;
  color: $white-color;
  background-color: $primary-color;
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    color: $primary-color !important;
    background-color: $white-color;
  }
}

input,
textarea,
select {
  background-color: #FFFFFF26;
  border-color: rgba(1, 22, 64, 0.21);
  border-width: 0px 0px 0px 0px;
  border-radius: 10px 0px 10px 0px;
  padding: 16px 25px;
  outline: none;
  color: $grey-color;
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.098) 0px 0px 0px 0.9694px inset;
  }
}