@import '../abstracts/variables';


// Colors
.primary {color: $primary-color;}
.secondary{color: $secondary-color;}
.text {color: $text-color;}
.white {color: $white-color;}
.grey{color: $grey-color;}
.primary-light {color: $primary-light-color;}
.text-primary{color: $primary-color !important;}
.bg-primary {background-color: $primary-color !important;}
.bg-secondary {background-color: $secondary-color !important;}
.bg-dark {background-color: $background-color1 !important;}
.bg-black {background-color: $background-color2 !important;}
.bg-grey {background-color: $border-color1;}
.bg-primarylight {background-color: $primary-light-color;}


// Border
.border-light {border-color: $border-color1 !important;}
.border-grey {border-color: $border-color2 !important;}
.border-dark {border-color: $background-color2 !important;}
.border-primary {border-color: $primary-color !important;}
.border-white-dashed {border: 1px dashed $white-color;}
.border-primary-dashed {border: 1px dashed $primary-light-color;}
.border-primary-light {border-color: $primary-light-color !important;}

// Overlay
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}



/* ---------------- PADDING ---------------- */
.p-6 { padding: 4rem !important; }
.p-7 { padding: 5rem !important; }
.p-8 { padding: 6rem !important; }
.p-9 { padding: 7rem !important; }
.p-10 { padding: 8rem !important; }

/* Padding Top */
.pt-6, .py-6 { padding-top: 4rem !important; }
.pt-7, .py-7 { padding-top: 5rem !important; }
.pt-8, .py-8 { padding-top: 6rem !important; }
.pt-9, .py-9 { padding-top: 7rem !important; }
.pt-10, .py-10 { padding-top: 8rem !important; }

/* Padding Bottom */
.pb-6, .py-6 { padding-bottom: 4rem !important; }
.pb-7, .py-7 { padding-bottom: 5rem !important; }
.pb-8, .py-8 { padding-bottom: 6rem !important; }
.pb-9, .py-9 { padding-bottom: 7rem !important; }
.pb-10, .py-10 { padding-bottom: 8rem !important; }

/* Padding Start */
.ps-6, .px-6 { padding-left: 4rem !important; }
.ps-7, .px-7 { padding-left: 5rem !important; }
.ps-8, .px-8 { padding-left: 6rem !important; }
.ps-9, .px-9 { padding-left: 7rem !important; }
.ps-10, .px-10 { padding-left: 8rem !important; }

/* Padding End */
.pe-6, .px-6 { padding-right: 4rem !important; }
.pe-7, .px-7 { padding-right: 5rem !important; }
.pe-8, .px-8 { padding-right: 6rem !important; }
.pe-9, .px-9 { padding-right: 7rem !important; }
.pe-10, .px-10 { padding-right: 8rem !important; }

/* ---------------- MARGIN ---------------- */
.m-6 { margin: 4rem !important; }
.m-7 { margin: 5rem !important; }
.m-8 { margin: 6rem !important; }
.m-9 { margin: 7rem !important; }
.m-10 { margin: 8rem !important; }

/* Margin Top */
.mt-6, .my-6 { margin-top: 4rem !important; }
.mt-7, .my-7 { margin-top: 5rem !important; }
.mt-8, .my-8 { margin-top: 6rem !important; }
.mt-9, .my-9 { margin-top: 7rem !important; }
.mt-10, .my-10 { margin-top: 8rem !important; }

/* Margin Bottom */
.mb-6, .my-6 { margin-bottom: 4rem !important; }
.mb-7, .my-7 { margin-bottom: 5rem !important; }
.mb-8, .my-8 { margin-bottom: 6rem !important; }
.mb-9, .my-9 { margin-bottom: 7rem !important; }
.mb-10, .my-10 { margin-bottom: 8rem !important; }

/* Margin Start */
.ms-6, .mx-6 { margin-left: 4rem !important; }
.ms-7, .mx-7 { margin-left: 5rem !important; }
.ms-8, .mx-8 { margin-left: 6rem !important; }
.ms-9, .mx-9 { margin-left: 7rem !important; }
.ms-10, .mx-10 { margin-left: 8rem !important; }

/* Margin Start */
.me-6, .mx-6 { margin-right: 4rem !important; }
.me-7, .mx-7 { margin-right: 5rem !important; }
.me-8, .mx-8 { margin-right: 6rem !important; }
.me-9, .mx-9 { margin-right: 7rem !important; }
.me-10, .mx-10 { margin-right: 8rem !important; }

section, .section-padding {
  padding: 100px 0;
}


/* Popup hidden by default */
#search1, #cart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 99999;

  input{
  width: 600px;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }

  form {
    a {
      right: 10px;
    }
  }
}

#search1.open {
  display: flex;
}

.text-gradient {
  background-color: transparent;
  background-image: linear-gradient(90deg, $primary-color 0%, #FF9A00 100%);
  color: $primary-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-divider {
    height: 4px;
    width: 100px;
    background: $white-color;
    border-radius: 2px;
    margin-left: 40px;
    margin-bottom: 30px;
    position: relative;

    &::before {
    content: "";
    position: absolute;
    color: $white-color;
    left: -30px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: $white-color;
    -webkit-box-shadow: 9px 0 0 0 currentColor, 18px 0 0 0 currentColor;
    box-shadow: 9px 0 0 0 currentColor, 18px 0 0 0 currentColor;
    }

    @media (max-width:996px) {
      margin: auto;
      margin-bottom: 30px;
    }
}


/* Sticky Header */
.navbar-sticky-in {
  position: fixed !important; /* Fixes navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999 !important; /* Keeps it above other elements */
  background: $background-color2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px rgba(225, 225, 225, 0.1);
}

/* Width */

@media (min-width:768px) {
  .w-md-auto {width: auto !important;}
  .w-md-25 {width: 25% !important;}
  .w-md-50 {width: 50% !important;}
  .w-md-75 {width: 75% !important;}
}

@media (min-width:996px) {
  .w-lg-50 {width: 50% !important;}
  .w-lg-75 {width: 75% !important;}
}

@media (min-width:1200px) {
  .w-xl-50 {width: 50% !important;}
}

// Fancy Box (Galley Plugin)
.fancybox__container {
  z-index: 99999 !important;
}

// Keyframe Animations
@keyframes bannerfadein{
  0% {
    opacity: 0;
    top: 122%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes button-ripple {
    70% {
        -webkit-box-shadow: 0 0 0 var(--glow-size,15px) currentColor;
        box-shadow: 0 0 0 var(--glow-size,15px) currentColor;
        opacity: 0
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 currentColor;
        box-shadow: 0 0 0 0 currentColor;
        opacity: 0
    }
}

@keyframes iconTranslateY {
  48% {
      -webkit-transform: translateY(50%);
      transform: translateY(50%)
  }

  49% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%)
  }

  50% {
    opacity: 1;
  }
}

// Bootstrap Modal
.modal-backdrop {
    --bs-backdrop-zindex: 99999;
}

.modal,  #cart{
      --bs-modal-zindex: 999999;
      z-index: 999999;
}

#cart{
  .modal-dialog{
    @media (max-width: 995px) and (orientation: landscape) {
        height: 200vh !important;
    }
  }
}
