// Colors
$primary-color: #A98A5B;
$secondary-color: #161F24;
$white-color: #ffffff;
$text-color: #707070;
$grey-color: #F7F7F7;
$background-color1: #101010;
$background-color2: #0E1316;
$border-color1: #FFFFFF1A;
$border-color2: #DDDDDD17;
$primary-light-color: #A98A5B80;

// FONT
$font-family-base: 'Poppins', Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;